<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item red white-text">
        <img src='./images/phone.jpg' style='height:400px' />
    </div>
    <div class="carousel-item amber white-text">
       <img src='./images/book.jpg' style='height:400px' />
    </div>
    <div class="carousel-item green white-text">
        <img src='./images/clothes.jpg' style='height:400px' />
    </div>
    <div class="carousel-item blue white-text" >
        <img src='./images/shoes.jpg' style='height:400px' />
    </div>
</div>